body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #434455;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------------HEADER------------ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.header-logo-web {
  color: #2e2f42;
}
.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-list {
}

.header-menu-list-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  display: flex;
  justify-content: start;
  align-items: end;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-list-a.current::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  background: #404bbf;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
}

.header-menu-list-a:hover {
  color: #404bbf;
}

.header-menu-list-a:focus {
  color: #404bbf;
}

.header-menu-list-a:active {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-list-contact {
}
.address-list-contact-a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-contact-a:hover {
  color: #404bbf;
}

.address-list-contact-a:focus {
  color: #404bbf;
}

/* ------------------------ */

/* ------------TITLE------------ */

.title {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-beckgraund.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0;
  margin: 0 auto;
  max-width: 1440px;
  background-size: cover;
}
.title-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}
.title-name-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-name-btn:hover {
  background-color: #404bbf;
}

.title-name-btn:focus {
  background-color: #404bbf;
}

/* ------------------------ */

/* ------------ADVANTAGES------------ */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-advantages {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-section-list {
  display: flex;
  gap: 24px;
}
.advantages-section-list-part {
  width: calc((100% - 3 * 24px) / 4);
}

.advantages-section-list-part:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.advantages-section-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-section-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  width: 264px;
}

.advantages-icon-list {
}

/* ------------------------ */

/* ------------TEAM------------ */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-team {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-section-list {
  display: flex;
  gap: 24px;
}
.team-section-list-part {
  border-radius: 0 0 4px 4px;
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 3 * 24) / 4);
  text-align: center;
}

.team-bloc-text {
  padding: 32px 0;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 16px;
  margin-right: 15px;
}

.team-section-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-section-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-img {
  margin: 0 auto;
}

.team-icon {
}
.team-list-icon {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.team-part-icon {
  width: 40px;
  height: 40px;
}
.team-part-a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-part-a:hover {
  background-color: #404bbf;
}

.team-part-a:focus {
  background-color: #404bbf;
}

.team-icon-image {
  fill: #f4f4fd;
}

/* ------------------------ */

/* ------------PORTFOLIO------------ */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-section-list {
  background-color: #ffffff;
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-section-list-part {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-part:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-list-wrapper {
  position: relative;
  overflow: hidden;
}

.section-list-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-part:hover .section-list-text {
  transform: translateY(0%);
}

.portfolio-bloc-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: 360px;
  padding: 32px 16px;
}

.portfolio-section-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-section-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------------ */

/* ------------FOOTER------------ */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-auxiliary {
  margin-right: 120px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-web {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-icon {
  width: 280px;
  height: 80px;
}
.footer-icon-text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-list-icon {
  display: flex;
  gap: 16px;
}
.footer-part-icon {
  width: 40px;
  height: 40px;
}
.footer-part-a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-part-a:hover {
  background-color: #31d0aa;
}

.footer-part-a:focus {
  background-color: #31d0aa;
}

.footer-icon-image {
  fill: #f4f4fd;
}

/* ------------------------ */

/* ------------SUBSCRIBE------------ */
.form-subscribe {
  width: 453px;
  display: flex;
}

.text-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.label-subscribe {
}

.input-subscribe {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
}

.input-subscribe::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
}

.subscribe-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto;
  margin-top: 24px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover {
  background-color: #404bbf;
}

.subscribe-btn:focus {
  background-color: #404bbf;
}

/* ------------------------ */

/* ------------MODEL------------ */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  /* тут початок сховати */
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}
/* тут кінець схованки */

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  margin-left: auto;
  background: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  background: #404bbf;
  border: none;
}

.modal-close:focus {
  background: #404bbf;
  border: none;
}

.modal-close-image {
  display: flex;
  fill: #2e2f42;
  margin: 0 auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-image:hover {
  fill: #ffffff;
}

.modal-close-image:focus {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover {
  border: 1px solid #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
  transition: fill-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-icon {
  fill: #4d5ae5;
  transition: fill-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-field-wrap {
  position: relative;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text:focus {
  border: 1px solid #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:hover {
  border: 1px solid #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 16px;
}

.modal-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 24px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #404bbf;
}

.modal-btn:focus {
  background-color: #404bbf;
}
