body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #434455;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ------------HEADER------------ */

.header {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-web {
  color: #2e2f42;
}
.header-menu {
}

.header-menu-list {
}

.header-menu-list-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-list-a:hover {
  color: #404bbf;
}

.header-menu-list-a:focus {
  color: #404bbf;
}

.header-menu-list-a:active {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
}

.address-list-contact {
}
.address-list-contact-a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-list-contact-a:hover {
  color: #404bbf;
}

.address-list-contact-a:focus {
  color: #404bbf;
}

/* ------------------------ */

/* ------------TITLE------------ */

.title {
  background-color: #2e2f42;
}
.title-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.title-name-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.title-name-btn:hover {
  background-color: #404bbf;
}

.title-name-btn:focus {
  background-color: #404bbf;
}

/* ------------------------ */

/* ------------ADVANTAGES------------ */

.advantages {
  background-color: #f4f4fd;
}
.section-advantages {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-list {
}
.section-list-part {
}
.section-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------------ */

/* ------------TEAM------------ */

.team {
  background-color: #f4f4fd;
}
.section-team {
  text-transform: capitalize;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-list {
  background-color: #ffffff;
}
.section-list-part {
  background-color: #ffffff;
}
.section-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------------ */

/* ------------PORTFOLIO------------ */

.portfolio {
  background-color: #f4f4fd;
}
.section-portfolio {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-list {
  background-color: #ffffff;
}
.section-list-part {
}
.section-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------------ */

/* ------------FOOTER------------ */

.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-web {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
