body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #434455;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------------HEADER------------ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.header-logo-web {
  color: #2e2f42;
}
.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-list {
}

.header-menu-list-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  display: flex;
  justify-content: start;
  align-items: end;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-list-a.current::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  background: #404bbf;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
}

.header-menu-list-a:hover {
  color: #404bbf;
}

.header-menu-list-a:focus {
  color: #404bbf;
}

.header-menu-list-a:active {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-list-contact {
}
.address-list-contact-a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-contact-a:hover {
  color: #404bbf;
}

.address-list-contact-a:focus {
  color: #404bbf;
}

/* ------------------------ */

/* ------------TITLE------------ */

.title {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-beckgraund.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0;
  margin: 0 auto;
  max-width: 1440px;
  background-size: cover;
}
.title-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}
.title-name-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-name-btn:hover {
  background-color: #404bbf;
}

.title-name-btn:focus {
  background-color: #404bbf;
}

/* ------------------------ */

/* ------------ADVANTAGES------------ */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-advantages {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-section-list {
  display: flex;
  gap: 24px;
}
.advantages-section-list-part {
  width: calc((100% - 3 * 24px) / 4);
}

.advantages-section-list-part:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.advantages-section-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-section-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  width: 264px;
}

.advantages-icon-list {
}

/* ------------------------ */

/* ------------TEAM------------ */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-team {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-section-list {
  display: flex;
  gap: 24px;
}
.team-section-list-part {
  border-radius: 0 0 4px 4px;
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 3 * 24) / 4);
  text-align: center;
}

.team-bloc-text {
  padding: 32px 0;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 16px;
  margin-right: 15px;
}

.team-section-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-section-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-img {
  margin: 0 auto;
}

.team-icon {
}
.team-list-icon {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}
.team-part-icon {
  width: 40px;
  height: 40px;
}
.team-part-a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
}
.team-icon-image {
  fill: #f4f4fd;
}

/* ------------------------ */

/* ------------PORTFOLIO------------ */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-section-list {
  background-color: #ffffff;
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-section-list-part {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-part:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  margin: 0 auto;
}

.portfolio-bloc-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: 360px;
  padding: 32px 16px;
}

.portfolio-section-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-section-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------------ */

/* ------------FOOTER------------ */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-auxiliary {
  display: flex;
  align-items: baseline;
}

.footer-container {
  margin-left: 156px;
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-web {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-icon {
  width: 280px;
  height: 80px;
}
.footer-icon-text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-list-icon {
  display: flex;
  gap: 16px;
}
.footer-part-icon {
  width: 40px;
  height: 40px;
}
.footer-part-a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-part-a:hover {
  background-color: #31d0aa;
}

.footer-part-a:focus {
  background-color: #31d0aa;
}

.footer-icon-image {
  fill: #f4f4fd;
}
